/* src/index.css */

html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  text-align: center;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
